Source: flumotion-windowsmedia
Section: net
Priority: optional
Maintainer: Johan Dahlin <johan@flumotion.com>
Build-Depends: cdbs (>= 0.4.43),
	       debhelper (>= 5.0.37.2),
	       flumotion (>= 0.5.1.1),
	       libgstreamer0.10-0 (>= 0.10.3),
	       libgstreamer-plugins-base0.10-dev (>= 0.10.14),
               python-epydoc,
XS-Python-Version: >= 2.5
Standards-Version: 3.7.3

Package: flumotion-windowsmedia
Architecture: any
Depends: ${python:Depends},
         flumotion (>= 0.5.1.1),
         flumotion-codecs (>= 0.1.0)
Description: Proprietary Flumotion windowsmedia for encoding and decoding
